@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary: #35B3AF;
    --white: #fff;
    --light-grey: #f5f5f5;
    --black: #111320;
    --boxShadow: 0px 3px 6px #00000029;
    --borderRadius: 26px;
    --overlay: var(--black);
    --overlayVertical: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 24%, rgba(0,0,0,0) 70%);
    --transition: all .25s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 22px;
}

a {
    color: var(--primary);
    text-decoration: none;
}

p {
    font-size: 16px;
}

img {
    width: 100%;
    height: auto;
}

img.bg-color {
    box-shadow: 8px 8px 0px 2px var(--primary);
}

p.width-50 {
    width: 50%;
}

.hidden {
    display: none;
}

.section .row .center {
    text-align: center;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section.black {
    background-color: var(--black);
}

.section.black h1,
.section.black h2,
.section.black h3,
.section.black p {
    color: var(--white);
}


.section.grey {
    background-color: var(--light-grey);
}

.section .row {
    width: 100%;
    max-width: 1600px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 60px auto;
    padding: 0 60px;
}

.section .row.reverse {
    flex-flow: row-reverse wrap;
}

.section .row.flex-col {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.section .row.flex-col.center,
.contact.section .row.flex-col.center {
    align-items: center;
}

.section .row .col {
    flex: 1 0 350px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    width: fit-content;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 10px 15px;
    transition: var(--transition); 
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: var(--transition);
}

.btn.white {
    background-color: var(--white);
    color: var(--black);
    border-color: var(--white);
}

.btn.ghost {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn.ghost.white {
    color: var(--white);
    border: 1px solid var(--white);
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.wrapper .item {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.overlay {
    background: var(--overlay);
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.form-wrapper {
    display: flex;
    width: 80%;
    padding: 30px;
    border-radius: 3px;
    background-color: var(--white);
    box-shadow: var(--boxShadow);
}

.form-wrapper form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.form-wrapper input {
    color: var(--black);
    flex: 1;
    width: 100%;
    padding: 16px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: none;
    border-bottom: 1px solid var(--primary);
    border-radius: 0;
    height: 60px;
    outline: none;
    font-size: 18px;
    transition: border-bottom 200ms ease;
}

.form-wrapper input:focus {
    transition: border-bottom 200ms ease;
    border-bottom: 2px solid var(--primary);
}

.form-wrapper .btn {
    color: var(--white);
    background-color: var(--primary);
    border-bottom: 1px solid var(--primary);
    transition: border-bottom 200ms ease;
    transition: var(--transition);
    margin-top: 20px;
    border-radius: 12px;
}

.form-wrapper .btn:hover {
    transform: scale(1.02);
}

.slideUp {
    animation: slide-up 1s ease 0s 1 normal forwards;
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 560px) {
    .section .row .col {
        flex: 1 0 100%;
    }

    .section .row {
        padding: 0 30px;
    }

    p,
    .btn {
        font-size: 14px;
    }

    .section.banner .row h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 26px;
    }

    p.width-50 {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .section.contact h2 {
        max-width: 100%;
    }

    .form-wrapper {
        width: 100%;
    }
}