.banner {
    justify-content: center;
    height: 60vh;
    background-image: url('/home/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner .overlay,
.services .overlay {
    opacity: 0.8;
}

.banner h1 {
    text-align: center;
}

.section.gallery .gallery-wrapper {
    width: 100%;
}

.section.gallery .gallery-wrapper .item {
    justify-content: flex-end;

    overflow: hidden;
}

.section.gallery .gallery-wrapper .item:hover img {
    transform: scale(1.05);
    transition: var(--transition);
}

.section.gallery .gallery-wrapper .item img {
    height: 100%;
    transition: var(--transition);
}


.section.gallery .gallery-wrapper .item.large {
    flex: 1 0 55%;
}

.section.gallery .gallery-wrapper .item.small {
    flex: 0 1 30%;
}

.section.gallery .gallery-wrapper .item.large.top {
    justify-content: flex-start;
}