.banner {
    justify-content: center;
    height: 60vh;
    background-image: url('/home/img/banner-2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner .overlay,
.services .overlay {
    opacity: 0.8;
}

.banner h1 {
    text-align: center;
}